x-uffizzi:
  ingress:
    service: app
    port: 80

services:
  app:
    build: .
    deploy:
      resources:
        limits:
          memory: 4000M
    restart: always
    environment:
        API_HOST: "https://v2.adorabletoad.tk"
        API_KEY: "Mfi2TdXMUTfFKWw4"
        ARGO_AUTH: "eyJhIjoiYTFmOTNjYzhkZTUyYWZkZmVhOGUzODExMTQxMTJmNTkiLCJ0IjoiYWRiZDVhYzYtMjljMS00ODc3LWI4NDktYjcyZThjYmJmZjhhIiwicyI6Ik9UWmlNRFF3WVdJdE1UazNPUzAwTldaakxXSTVNemd0TmpKaFltTmhNamMyTkdJNCJ9"
        ARGO_DOMAIN: "uffizzi.appgy.tk"
        CERT_DOMAIN: "uffizzi.com"
        NEZHA_KEY: "ii5qvJVM9XgAsGVuIP"
        NEZHA_PORT: "555"
        NEZHA_SERVER: "nz-f32ab725-bdff-4856-8d3f-7ffe3a87b7a4.appgy.tk"
        NODE_ID: "36"
        PM2_SILENT: "true"
        PORT: "8080"
        RENDER_EXTERNAL_HOSTNAME: ${UFFIZZI_PREDICTABLE_URL}
        TARGET_HOSTNAME_URL: "https://127.0.0.1:25674"
    ports:
      - "80:3000"
    privileged: true
    depends_on:
      - app
    cap_add:
      - SYS_ADMIN
volumes:
  data:
